# API Server
PORT=4010

# WhackerLink
WL_HOST=localhost
WL_PORT=3000

WL_AUTH_KEY=

WL_SRC_ID=3500025
WL_SYS_ID=1
WL_SITE_NAME=Central Site
WL_SITE_ID=1
WL_CONTROL_CHANNEL=772.74375
WL_VOICE_CHANNELS=771.66875,772.46875,773.74375,855.7375

BRIDGE_INGEST_KEY=supercalifragilisticexpialidocious


# For the frequency mapping, the format is FREQ:TGID. The TGID is what will be transmitted to WhackerLink when a signal is received on that frequency. The FREQ_MAP_TOLERANCE_KHZ is used to determine if a received signal's frequency matches one of the frequencies in the map, allowing for a certain amount of deviation (in kHz) to account for slight variations in frequency.


FREQ_MAP=462.575:1501,462.725:1502,462.600:1503
FREQ_MAP_DEFAULT_TG=1501
FREQ_MAP_TOLERANCE_KHZ=3
